body{
	background-color: #212121;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

/*Top Nav*/
.topnav {
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: gray;
}

.topnav a.active {
  color: goldenrod;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/*Slide Show*/
.mySlides {
	display: none;
}

.slide-img{
	width: 100%;
	object-fit: cover;
}

.slideshow-container {
  max-width: 100%;
  height: 93%;
  position: relative;
  margin: auto;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 50%);
}

/* Caption text */
.movieTitle {
	color: goldenrod;
  font-size: 50px;
  top: 50%;
  left: 0;
}

.movieSubtitle{
	color: #f2f2f2;
  	font-size: 23px;
  	top: 60%;
  	left: 0;
}

.movieTitle, .movieSubtitle{
	padding: 8px 12px;
  	position: absolute;
  	width: 100%;
  	text-shadow: 0.1em 0.1em 0.2em black
}

/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotActive {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



/*Main*/
.content-main{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.content-main h1{
	color: white;
	margin-left: 3px;
	margin-bottom: 12px;
}

.row{
	display: flex;
	overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.row {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content{
	background-color: white;
  	width: 130px;
  	border-radius: 5px;
  	float: left;
  	margin: 3px;
  	
}

.filme-content{
	margin: 5px;
}

.filme-image{
	width: 120px;
	margin-bottom: 8px;
	transition-duration: 0.3s;
}

.filme-image:hover{
	filter: opacity(70%);
	cursor: pointer;

}

.filme-nome{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.filme-nota{
	font-size: 14px;
}

.filme-ano{
	font-size: 14px;
	float: right;
}

.filme-more{
	text-align: center;
	background-color: white;
	border-radius: 0 0 5px 5px;
}
.filme-more:hover{
	background-color: gray;
	cursor: pointer;
}

@media all and (max-width: 1000px){
    .content{
        width: 123px;
    }
    .filme-image{
        width: 113px;
    }
    .slideshow-container{
    	height: auto;
    }
}